BOT_TOKEN=8980817670:AAEW-pMFsnJ7O8r6BV09kjL6CcZ65MqEivE
OWNER_ID=8563769700
CHANNEL_ID=@flpoekflpewkmferpokfewdlkfmewokf
GROUP_ID=-5281199465
LOGS_FILE=logs.json
ALLOWED_FILE=allowed_users.json
